@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  & button{
    margin-bottom: 100px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #ccc;
    color: #000;
    font-size: 1.5rem;
    font-family: 'Caveat', cursive;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: translateY(-5px);
      background-color: #555;
      color: #fff;
    }
    &:active {
      transform: scale(0.9);
    }
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  font: 2rem "Open Sans", sans-serif;
  @media screen and (max-width: 900px) {
    width: 100%;
    margin-top: 10px;
    padding: 0;
  }
}

.skills h2 {
  margin: 20px;
  padding: 0;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-family: 'Caveat', cursive;
}

.listedSkills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  border: white 1px solid;
  border-radius: 20px;
  padding: 20px;
  width: 150px;
  transition: all 0.4s ease-in-out;
  cursor:default;
  user-select: none;
  &:hover {
    opacity: 0.9;
    transform: scale(1.1);
    rotate: 2deg;
  }

  @media screen and (max-width: 900px) {
    width: 34%;
    margin: 10px;
  }
}