footer {
    display: flex;
    justify-content: flex-end;
    user-select: none;
    height: 50px;
    margin: 2%;
}

footer div {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

@media screen and (max-width: 900px) {
    footer {
        margin: 20px 0;
        width: 100vw;
        height: 80px;
    }
    
    footer div {
        padding: 0 5px;
        width: 100%;
        justify-content: center;
    }
    
    .icon {
        scale: 1.5;
        margin: 0 25px;
    }
    
}