footer {
    display: flex;
    justify-content: flex-end;
    user-select: none;
    height: 50px;
    margin: 120px 80px 80px;
}

footer div {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}