.aboutContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 3%;

}

.textSection {
    width: 70%;
    padding: 20px 40px 40px 40px;
    font: 20px 'Roboto', sans-serif;
}

.imgSection {
    margin-left: 30px;
    user-select: none;
}

.imgSection, .imgSection img {
    height: 450px;
    width: 350px;
}


@media screen and (max-width: 900px) {
    .aboutContainer {
        flex-direction: column;
        margin: 0;
        padding: 20px;
    }

    .textSection {
        width: 100%;
        padding: 20px;
    }

    .imgSection {
        margin: 20px 0 0 0;
    }


}