nav {
    display: flex;
    justify-content: end;
    padding: 1rem;
    width: 700px;
}

nav ul {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    width: 100%;
}

nav ul .navButton {
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 0 0.3rem;
    transition: color 0.1s ease-in-out;
    &:hover {
        color: #a7a7a7;
    }
}

nav .active {
    border-right: solid 1px white;
    border-left: solid 1px white;
}

@media screen and (max-width: 900px) {
    
    nav {
        justify-content: center;
        width: 100%;
    }

    nav ul {
        justify-content: center;
        width: 100%;
    }

    nav ul .navButton {
        font-size: 1rem;
        margin: 0.6rem;
    }

    nav .active {
        border: solid 1px grey;
    }
}