.projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  .projectContainer:has(.project:hover) .project:not(:hover) {
    opacity: 0.5;
    scale: 0.9;
  }
}
